@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('./range.css');
@import url('./switch.css');
:root{
    --dark-theme-bg: black;
    --light-theme-bg: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    width: 100%;
    min-height: 100vh;
    height: auto;
    background: var(--dark-theme-bg);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app{
   padding: 1rem;
   border: 1px solid rgb(20, 20, 20);
   min-width: 375px;
   max-width: 720px;
   width: 100%;
   border-radius: 10px;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 2rem;
   font-family: "Major Mono Display", monospace;
}
.app_password{
    padding: 1rem;
    border: 1px solid rgb(0, 100, 100);
    background: rgba(0, 255, 255, 0.103);
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
}
#generated_password{
    font-size: 1.5rem;
    font-family: 'Poppins';
    font-weight: bold;
}
.app_password_status{
    display: flex;
    gap: 1rem;
}
.strong{
    color: greenyellow;
    background: rgba(0, 255, 255, 0.2);
    padding: 5px;
    border-radius: 15px;
    font-size: 0.8rem;
}

.weak{
    color: rgb(255, 47, 47);
    background: rgba(129, 53, 144, 0.2);
    padding: 5px;
    border-radius: 15px;
    font-size: 0.8rem;
}

.medium{
    color: rgb(255, 144, 47);
    background: rgba(226, 177, 63, 0.2);
    padding: 5px;
    border-radius: 15px;
    font-size: 0.8rem;
}

.app_password_lenght{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.option{
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
    
    label{
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            background: rgb(3, 3, 3);
              border: 1px solid rgb(26, 26, 26);
              font-family: 'Poppins';
              font-size: 0.8rem;
              gap: 1rem;
    }
}